*,
*:before,
*:after {
	box-sizing: border-box;
}

.body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}

/* Container 
======================= */
.container {
	width: 100%;
	max-width: 1145px;
	margin: 0 auto;
}

/* Header 
======================= */

.header {
	background-color: #1d2126;
}

.header-inner {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;
}

.header-logo {
	cursor: pointer;
}

/* Navigation 
======================= */

.nav {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	/*letter-spacing: 0.1em;*/
}

.nav-list {
	display: inline-block;
	margin: 0 5px;
}

.nav-link {
	display: block;
	color: #a4aead;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 4px;

}

.nav-link:hover {
	color: #a4aead;
	border: 1px solid #a4aead;
	
}


/* Search 
======================= */
input[type="search"] {
      -webkit-appearance: textfield;
    }

.input-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #a4aead;
}

.input-search::-webkit-input-placeholder { /* Edge */
  color: #a4aead;
}

.input-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a4aead;
}    

.header-search {
	position: relative;
	height: 25px;
	width: 190px;
	border: 1px solid #a4aead;
	border-radius: 4px;

}

.input-search {
	width: 159px;
	padding-left: 15px;
	border: none; 
    outline: none;
    -webkit-appearance: none; 
    vertical-align: middle; 

    background-color: inherit;
	color: #a4aead;
	text-transform: uppercase;
}

.submit-search {
	position: relative;
	top: 4px;
	right: 20px;
	margin-left: 10px;
	width: 15px;
	height: 15px;
	border: none;
	background: url("img/search.png") no-repeat 50% 50%;
	cursor: pointer;
}


/* Intro-slider 
======================= */

.intro-slider {
	height: 660px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #444858 url("img/back-1.png") center no-repeat;
}

.intro-inner {
	max-width: 655px;
}

.intro-title {
	margin: 0 0 15px;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1666;
	text-transform: uppercase;
}

.intro-subtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.625;
	font-weight: 400;
	color: #ccd0d7;
	margin: 0 0 30px;

}

/* Intro-buttons 
======================= */

.intro-btn {
	display: inline-block;

	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	line-height: 40px;

	text-align: center;

	width: 125px;
	height: 40px;

	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 4px;
	margin-right: 10px;
}

.intro-btn:hover {
	background-color: #23b7a4;
	border: none;
}


/* We-are-modest 
======================= */

.we-are-modest {
	padding: 70px 0;
	border-bottom: 1px solid #dde1e4;
}

.modest-title { 
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #292f36;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.modest-title:before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 20px;

	height: 35px;
	width: 10px;
	background-color: #e1e6ea;
}

.left-modest {
	width: 55%;
}

.right-modest {
	width: 40%;
}

.modest-inner {
	display: flex;
	justify-content: space-between;
}

.modest-text {
	margin-bottom: 30px;

	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
	color: #8d8f92;
}

.modest-bold {
	font-weight: 700;
}

.goals-title {
	margin-bottom: 5px;

	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	color: #292f36;

	text-transform: uppercase;
}

.goals-number {
	display: block;
	position: relative;
	top: 15px;
	margin: 0 20px 60px 25px;

	width: 50px;
	height: 50px;

	background-color: #23b7a4;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}


/* Socials 
======================= */

.social {
	margin: 80px 0 70px 0;
}

.social-item {
	display: inline-block;
	margin-right: -2px;

	width: 60px;
	height: 60px;

	background-color: #c8cdd0;
}

.social-item:hover {
	background-color: #d0d5d9;
}


/* Meet-the-team
======================= */

.meet-the-team {
	padding: 70px 0;
	border-bottom: 1px solid #dde1e4;
}

.team-inner {
	display: flex;
	flex-wrap: wrap;
}

.team-inner:last-child {
	margin-right: 0;
}

.team-item {
	position: relative;
	width: 24%;
	z-index: 10;
	margin-right: 10px;
}

.team-photo {
	position: relative;
	width: 100%;

	height: 300px;
}

.team-info {
	display: block;
	/*position: relative;*/
	top: -2px;
	padding: 20px;

	width: 100%;

	background-color: #e1e6ea;
}

.team-name {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 2.9;

	text-transform: uppercase;
	color: #292f36;
}

.team-position {
	font-size: 14px;
	color: #8d8f92;
}



/* Team-hover and Team-socials
=============================== */

.team-hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.4);
}

.team-socials {
	position: absolute;
	margin: -25px auto 0 auto;
	top: 50%;
	left: 22%;
	height: 50px;

	z-index: 20;
	cursor: pointer;
}

.team-social-item {
	display: inline-block;
	margin-right: -1px;

	width: 50px;
	height: 50px;

	background-color: #3a454d;
}

/* Hover Team */

.team-social-item:hover {
	background-color: #4e5a62;
}

.team-item:hover .team-hover {
	display: block;
}

.team-item:hover .team-info {
	background-color: #3a454d;
	color: #fff;
}

.team-item:hover .team-name {
	color: #fff;
}

/* Lovely-work 
======================= */

.lovely-work {
	padding: 70px 0;
	background-color: #3a454d;
}

.work-title {
	color: #fff;
}

.work-title:before {
	background-color: #4e5a62;
}

.work-inner {
	display: flex;
	flex-wrap: wrap;
}

.work-item {
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;

	width: 31.5%;
	height: 265px;
	overflow: hidden;
}

.work-photo {
	width: 100%;
	position: absolute;
	height: 265px;
	z-index: 10;
}

.work-hover {
	display: none;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	cursor: pointer;
}

.hover-photo {
	position: absolute;
	z-index: 20;
	top: 35%;
	left: 43.7%;
}

.hover-text {
	position: absolute;
	width: 100%;
	height: 22%;
	bottom: 0;

	background-color: #292f36;

	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #fff;

	text-transform: uppercase;
	padding: 20px;
}

.work-item:hover .work-hover {
	display: block;
}

.work-btn {
	width: 150px;
	cursor: pointer;
	margin: 30px auto 0 auto;
}

/*What we do*/

.what-we-do .container {
	height: 900px;
	background-color: #ffffff;
}

.what-we-do-title {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #292f36;
	text-transform: uppercase;
	margin-top: 85px;
}

.what-we-do-title:before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 20px;

	height: 35px;
	width: 10px;
	background-color: #e1e6ea; 
}

.what-we-do-inner {
	display: flex;
	flex-wrap: wrap;
}

/*easy theme setup*/

.easy-theme-setup {
	width: 265px;
	height: 225px;
	background-image: url("img/system.png");
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 95px;
}

.easy-theme-setup-title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 85px;
}

.easy-theme-setup-text {
	color: #abadaf;
	text-align: center;
	margin-top: 30px;
	line-height: 1.5;
}

/*pixel perfect design*/

.pixel-perfect-design {
	width: 265px;
	height: 225px;
	background-image: url("img/pencil.png");
	background-repeat: no-repeat;
	background-position: center top;
	margin-left: 25px;
	margin-top: 95px;
}

.pixel-perfect-design-title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 85px;
}

.pixel-perfect-design-text {
	color: #abadaf;
	text-align: center;
	margin-top: 30px;
	line-height: 1.5;
}

/*responsive display*/

.responsive-display {
	width: 265px;
	height: 225px;
	background-image: url("img/phone.png");
	background-repeat: no-repeat;
	background-position: center top;
	margin-left: 25px;
	margin-top: 95px;
}

.responsive-display-title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 85px;
}

.responsive-display-text {
	color: #abadaf;
	text-align: center;
	margin-top: 30px;
	line-height: 1.5;
}

/*24/7 support*/

.support {
	width: 265px;
	height: 225px;
	background-image: url("img/clock.png");
	background-repeat: no-repeat;
	background-position: center top;
	margin-left: 25px;
	margin-top: 95px;
}

.support-title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 85px;
}

.support-text {
	color: #abadaf;
	text-align: center;
	margin-top: 30px;
	line-height: 1.5;
}


/*features block*/

.features {
	height: 735px;
	background-color: #3a454d;
}

.features .container {
	height: 735px;
	background-color: #3a454d;
}

.features-title {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 90px;
}

.features-title:before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 20px;

	height: 35px;
	width: 10px;
	background-color: #4e5a62;
}

.features-inner {
	display: flex;
	flex-wrap: wrap;
}

/*product design */

.product-design {
	width: 360px;
	height: 430px;
	margin-top: 65px;
}

.product-design-title {
	text-align: left;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 55px;
	color: #ffffff;
}

.product-design-text {
	color: #ffffff;
	text-align: left;
	margin-top: 30px;
	line-height: 1.5;
}

/*elegant and colorful logos*/

.elegant-logos {
	width: 360px;
	height: 430px;
	margin-top: 65px;
	margin-left: 30px;
}

.elegant-logos-title {
	text-align: left;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 55px;
	color: #ffffff;
}

.elegant-logos-text {
	color: #ffffff;
	text-align: left;
	margin-top: 30px;
	line-height: 1.5;
}

/*a showcase of creative*/

.showcase {
	width: 360px;
	height: 430px;
	margin-top: 65px;
	margin-left: 30px;
}

.showcase-title {
	text-align: left;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 55px;
	color: #ffffff;
}

.showcase-text {
	color: #ffffff;
	text-align: left;
	margin-top: 30px;
	line-height: 1.5;
}

/*stay in touch block*/

.stay-in-touch {
	height: 160px;
	background-color: #ffffff;
}

.stay-in-touch .container {
	height: 160px;
	background-color: #ffffff;
}

.stay-in-touch-title {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #292f36;
	text-transform: uppercase;
	padding-top: 60px;
	padding-bottom: 60px;
}

.stay-in-touch-title:before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 20px;

	height: 35px;
	width: 10px;
	background-color: #e1e6ea;
}

/*map*/

.map {
	background-image: url("img/map.png");
	background-position: center;
	height: 350px;
	background-height: 352px;
	background-width: 100%;
	border: none;
	position: relative;
	z-index: 1;
}

/*contact information*/

.contact-information {
	height: 360px;
	background-color: #ffffff;
}

.contact-information .container {
	height: 360px;
	background-color: white;
}

.contact-information-title {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	font-weight: 100;
	color: black;
	text-transform: uppercase;
	padding-top: 58px;
	padding-left: 10px;
	padding-bottom: 44px;
}

.contact-information-inner {
	display: flex;
	flex-wrap: wrap;
	height: 145px;
}

.contact-information-text {
	width: 555px;
	height: 145px;
	color: #8d8f92;
	line-height: 1.5;
}

.text-2 {
	padding-top: 30px;
}

/*send message*/

.send-message {
	width: 555px;
	padding-left: 30px;
	position: relative;
}

.form {
	height: 380px;
	width: 555px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 15px;
	z-index: 2;
}

.your-name {
	padding-top: 30px;
	padding-left: 30px;
}

.your-name-title {
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #8d8f92;
	padding-bottom: 10px;
}

#name {
	height: 45px;
	width: 240px;
	border-radius: 3px;
	border: none;
	background-color: #eaeef1;
}

.your-email {
	padding-left: 13px;
	padding-top: 30px;
}

.your-email-title {
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #8d8f92;
	padding-bottom: 10px;
}

#email {
	height: 45px;
	width: 240px;
	border-radius: 3px;
	border: none;
	background-color: #eaeef1;
}

.your-message {
	padding-top: 30px;
	margin-left: 30px;
}

.your-message-title {
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #8d8f92;
	padding-bottom: 10px;
}

.textarea {
	height: 160px;
	width: 495px;
	border-radius: 3px;
	border: none;
	background-color: #eaeef1;
}

/*.your-name, .your-email, .your-message {
	display: none;
}*/

.button {
	color: #ffffff;
	width: 150px;
	height: 45px;
	background-color: #23b7a4;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 12px;
	border: none;

	margin-left: 30px;
	margin-top: 30px;

	position: absolute;
	bottom: 0;
}
 
.button:hover ~ .formtohide {
	display:flex;
	flex-wrap: wrap;
}

.formtohide {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 60px;
	display: none;
}

.contact-information {
	position: relative;
	z-index: 2;
}

/*footer*/



