*,
*:before,
*:after {
	box-sizing: border-box;
}

.body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}

/* Container 
======================= */
.container {
	width: 100%;
	max-width: 1145px;
	margin: 0 auto;
}

/* Header 
======================= */

.header {
	background-color: #1d2126;
}

.header-inner {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;
}

.header-logo {
	cursor: pointer;
}

/* Navigation 
======================= */

.nav {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	/*letter-spacing: 0.1em;*/
}

.nav-list {
	display: inline-block;
	margin: 0 5px;
}

.nav-link {
	display: block;
	color: #a4aead;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 4px;

}

.nav-link:hover {
	color: #a4aead;
	border: 1px solid #a4aead;
	
}


/* Search 
======================= */
input[type="search"] {
      -webkit-appearance: textfield;
    }

.input-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #a4aead;
}

.input-search::-webkit-input-placeholder { /* Edge */
  color: #a4aead;
}

.input-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a4aead;
}    

.header-search {
	position: relative;
	height: 25px;
	width: 190px;
	border: 1px solid #a4aead;
	border-radius: 4px;

}

.input-search {
	width: 159px;
	padding-left: 15px;
	border: none; 
    outline: none;
    -webkit-appearance: none; 
    vertical-align: middle; 

    background-color: inherit;
	color: #a4aead;
	text-transform: uppercase;
}

.submit-search {
	position: relative;
	top: 4px;
	right: 20px;
	margin-left: 10px;
	width: 15px;
	height: 15px;
	border: none;
	background: url("img/search.png") no-repeat 50% 50%;
	cursor: pointer;
}


/* Intro-slider 
======================= */

.intro-slider {
	height: 660px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #444858 url("img/back-1.png") center no-repeat;
}

.intro-inner {
	max-width: 655px;
}

.intro-title {
	margin: 0 0 15px;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1666;
	text-transform: uppercase;
}

.intro-subtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.625;
	font-weight: 400;
	color: #ccd0d7;
	margin: 0 0 30px;

}

/* Intro-buttons 
======================= */

.intro-btn {
	display: inline-block;

	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14px;
	line-height: 40px;

	text-align: center;

	width: 125px;
	height: 40px;

	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 4px;
	margin-right: 10px;
}

.intro-btn:hover {
	background-color: #23b7a4;
	border: none;
}


/* We-are-modest 
======================= */

.modest-title { 
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #292f36;;
	text-transform: uppercase;
	margin: 50px 0;
}

.modest-title:before {
	content: "";
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 20px;

	height: 35px;
	width: 10px;
	background-color: #e1e6ea;
}

.left-modest {
	width: 55%;
}

.right-modest {
	width: 40%;
}

.we-are-modest {
	display: flex;
	justify-content: space-between;
}


.modest-text {
	margin-bottom: 30px;

	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
	color: #8d8f92;
}

.modest-bold {
	font-weight: 700;
}


.goals-title {
	margin-bottom: 5px;

	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	color: #292f36;

	text-transform: uppercase;
}

.goals-number {
	display: block;
	position: relative;
	top: 15px;
	margin: 0 20px 60px 25px;

	width: 50px;
	height: 50px;

	background-color: #23b7a4;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}


/* Socials 
======================= */

.social {
	margin: 80px 0 70px 0;
}

.social-item {
	display: inline-block;
	margin-right: -2px;

	width: 60px;
	height: 60px;

	background-color: #c8cdd0;
}

.social-item:hover {
	background-color: #d0d5d9;
}

.big-line {
	border-bottom: 1px solid #dde1e4;
}


/* Meet-the-team
======================= */
































