*,
*:before,
*:after {
	box-sizing: border-box;
}

.body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #292f36;
}

/* Container 
======================= */
.container {
	width: 100%;
	max-width: 1145px;
	margin: 0 auto;
}

/* Header 
======================= */

.header {
	background-color: #1d2126;
}

.header-inner {
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;
}

/* Navigation 
======================= */

.nav {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	/*letter-spacing: 0.1em;*/
}

.nav-list {
	display: inline-block;
	margin: 0 5px;
}

.nav-link {
	display: block;
	color: #a4aead;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 4px;

}

.nav-link:hover {
	color: #a4aead;
	border: 1px solid #a4aead;
	
}


/* Search 
======================= */
input[type="search"] {
      -webkit-appearance: textfield;
    }

.input-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #a4aead;
}

.input-search::-webkit-input-placeholder { /* Edge */
  color: #a4aead;
}

.input-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a4aead;
}    

.header-search {
	position: relative;
	height: 25px;
	width: 190px;
	border: 1px solid #a4aead;
	border-radius: 4px;

}

.input-search {
	width: 159px;
	border: none; 
    outline: none;
    -webkit-appearance: none; 
    vertical-align: middle; 

    background-color: inherit;
	color: #a4aead;
	text-transform: uppercase;
}

.submit-search {
	position: relative;
	top: 4px;
	right: 20px;
	margin-left: 10px;
	width: 15px;
	height: 15px;
	border: none;
	background: url("img/search.png") no-repeat 50% 50%;
	cursor: pointer;
}





















